body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  max-width: 400px;
  text-align: center;
  margin: auto;
}
nav {
  direction: rtl;
  padding: 10px;
  border-radius: 15px;
}
nav ul {
  padding: 0;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.book-list {
  border-radius: 15px;
}

.book-list ul {
  direction: rtl;
  padding: 10px;
}

.book-list ul li {
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  list-style: none;
}