body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
    background-color: #8ecae6;
}

.App {
    background-color: #219ebc;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    color: #000;
}

.navbar {
    padding: 10px 20px;
    text-align: center;
    background-color: #fb8500;
}

.navbar h1 {
    margin: 10px 0;
}

.book-list ul {
    margin: 20px;
    padding: 0;
}

.book-list ul li {
    background-color: #ffb703;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    list-style: none;
    transition: opacity 0.3s ease;
}

.book-list ul li:hover {
    opacity: 0.7;
    text-decoration: line-through;
}

.book-list .title {
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

.book-list .author {
    color: #000;
    font-size: 0.9em;
}

.empty {
    margin: 20px;
    text-align: center;
}
form {
    padding: 20px;
}
input[type='text']{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 6px 0;
    background-color: #023047;
    color: #fff;
    border: none;
}

input[type='submit']{
    padding: 6px 20px;
    display: block;
    margin: 10px auto;
    background-color: #eee;
    border-radius: 8px;
}
