/*HelpComponent.css*/
.instructions-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}
.instructions-content {
    background: #fff;
    border-radius: 5px;
    color: #000;
    padding: 20px;
    max-width: 80%;
    box-shadow: 0 0 10px
    rgba(0, 0, 0, 0.3);
    text-align: left;
}
.instructions-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.instructions-content ul {
    list-style: none;
    padding: 0;
}
.instructions-content ul li {
    margin-bottom: 10px;
}
.close-button {
    background: #ff5722;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.close-button:hover {
    background: #e64900;
}